<div class="headerimage">
  &nbsp;
</div>
<div id="backshape">
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<h2 class="col-xs-12 text-center">
					Choose your city:
				</h2>
				<div class="product col-sm-4 col-xs-6">
					<div id="sanfrancisco" class="product-info col-sm-12">
					San Francisco
					</div>
				</div>
				<div class="product col-sm-4 col-xs-6">
					<div id="newyork" class="product-info col-sm-12">
					New York
					</div>
				</div>
				<div class="product col-sm-4 col-xs-6">
					<div id="seattle" class="product-info col-sm-12">
					Seattle
					</div>
				</div>
				<div class="product col-sm-4 col-xs-6">
					<div id="austin" class="product-info col-sm-12">
					Austin
					</div>
				</div>
				<div class="product col-sm-4 col-xs-6">
					<div id="losangeles" class="product-info col-sm-12">
					Los Angeles
					</div>
				</div>
				<div class="product col-sm-4 col-xs-6">
					<div id="boston" class="product-info col-sm-12">
					Boston
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="home">
	<div class="container">
		<h1>Who's Hiring Me</h1>
		<button ng-click="go('/jobs')" class="btn btn-wh btn-xl">Find Internship</button>
	</div>
</div>