<div id="home">
	<div class="container">
		<h1>Who's Hiring Me</h1>
		<button ng-click="go('/jobs/sanfrancisco')" class="btn btn-wh btn-xl">Find Internship</button>
	</div>
</div>
<div class="headerimage" />
<div id="backshape">
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<h2 class="col-xs-12 text-center">
					Choose your city
				</h2>
				<p class="col-xs-12 text-center">
					You'll love it here
				</p>
				<a href="/jobs/sanfrancisco" class="product col-md-8 col-xs-12">
					<div id="sanfrancisco" class="product-info col-sm-12" data-content="San Francisco" >
						<h2>San Francisco</h2>
					</div>
				</a>
				<a href="/jobs/newyork" class="product col-md-4 col-sm-6 col-xs-12">
					<div id="newyork" class="product-info col-sm-12" data-content="New York" >
						<h2>New York</h2>
					</div>
				</a>
				<a href="/jobs/seattle" class="product col-md-4 col-sm-6 col-xs-12">
					<div id="seattle" class="product-info col-sm-12" data-content="Seattle" >
						<h2>Seattle</h2>
					</div>
				</a>
				<a href="/jobs/austin" class="product col-md-8 col-xs-12">
					<div id="austin" class="product-info col-sm-12" data-content="Austin" >
						<h2>Austin</h2>
					</div>
				</a>
				<a href="/jobs/losangeles" class="product col-md-8 col-sm-6 col-xs-12">
					<div id="losangeles" class="product-info col-sm-12" data-content="Los Angeles" >
						<h2>Los Angeles</h2>
					</div>
				</a>
				<a href="/jobs/boston" class="product col-md-4 col-sm-6 col-xs-12">
					<div id="boston" class="product-info col-sm-12" data-content="Boston" >
						<h2>Boston</h2>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
