<div class="partial-view container">
	<div class="description text-left">
		<p><span class="bold-me">Who's Hiring Me?</span> is your best bet at finding your dream internship without all the fuss.<br/>Check back daily for new postings for bay area internships.<br/>Follow us on Twitter <i class="fa fa-twitter"></i> @</p>
	</div>
	<section>
		<article class="job-board">
			<ul infinite-scroll='loadMore()' infinite-scroll-distance='0' infinite-scroll-disabled='isData'>
				<li ng-repeat="job in jobs">
						<h3><a href="/job/{{job._id}}">
							<span class="bold-me">{{job.company}}</span>
							 {{job.title}}
							<span ng-show="job.location" class="label label-category">{{job.location}}</span><span ng-repeat="label in job.category" class="label label-category">{{label}}</span></a><span class="date">
							<button type="submit" class="btn btn-danger btn-md" ng-click="deleteJob(job._id)">Delete</button>
							July 3
							</span>
						</h3>
					
				</li>
			</ul>
		</article>
	</section>
	<!--<div infinite-scroll='loadMore()' infinite-scroll-distance='2' infinite-scroll-disabled='isData'>
	    <img ng-repeat='image in images' ng-src='http://placehold.it/225x250&text={{image}}'>
	</div>-->
</div>