
<div class="partial-view container">
	<!-- FORM TO CREATE jobS -->
	<div id="jobposter">

		<div class="row" ng-show="authData">
			<div class="col-sm-4 col-sm-offset-4">
				<h1>Account Settings</h1>
				<br>
			</div>
		</div>
		<div id="job-form" class="row" ng-show="authData">
			<div class="col-sm-12">
				<form class="form-horizontal" name="checkoutForm">
					<div id="job" class="col-sm-6">
						<div class="form-group">
							<label for="jobTitle" class="col-sm-2 control-label">Name</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-font fa-2x"></i></span>
									<input type="text" class="form-control input-lg" id="jobTitle" name="jobTitle" ng-model="formData.name" >
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="jobTitle" class="col-sm-2 control-label">Facebook</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-facebook-official fa-2x"></i></span>
									<input type="text" class="form-control input-lg" name="jobDescription" ng-model="formData.facebook"  >
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="jobDescription" class="col-sm-2 control-label">Twitter</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-twitter-square fa-2x"></i></span>
									<input type="text" class="form-control input-lg" name="jobDescription" ng-model="formData.twitter"  >
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="jobDescription" class="col-sm-2 control-label">LinkedIn</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-linkedin-square fa-2x"></i></span>
									<input type="text" class="form-control input-lg" name="jobDescription" ng-model="formData.linkedin"  >
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="jobDescription" class="col-sm-2 control-label">Instagram</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-facebook-official fa-2x"></i></span>
									<input type="text" class="form-control input-lg" name="jobDescription" ng-model="formData.instagram"  >
								</div>
							</div>
						</div>
					</div>
					<div id="job" class="col-sm-6">
						<div class="form-group">
							<label for="jobTitle" class="col-sm-2 control-label">Pinterest</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-pinterest-square fa-2x"></i></span>
									<input type="text" class="form-control input-lg" id="jobTitle" name="jobTitle" ng-model="formData.pinterest" >
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="jobTitle" class="col-sm-2 control-label">Snapchat</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-snapchat snapchat"></i></span>
									<input type="text" class="form-control input-lg" name="jobDescription" ng-model="formData.snapchat"  >
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="jobDescription" class="col-sm-2 control-label">Whatsapp</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-whatsapp fa-2x"></i></span>
									<input type="text" class="form-control input-lg" name="jobDescription" ng-model="formData.whatsapp"  >
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="jobDescription" class="col-sm-2 control-label">Youtube</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-youtube-square fa-2x"></i></span>
									<input type="text" class="form-control input-lg" name="jobDescription" ng-model="formData.youtube"  >
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="jobDescription" class="col-sm-2 control-label">Reddit</label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-reddit-square fa-2x"></i></span>
									<input type="text" class="form-control input-lg" name="jobDescription" ng-model="formData.reddit"  >
								</div>
							</div>
						</div>
					</div>
					<div class="form-group text-center">
						<div class="col-sm-offset-2 col-sm-8">
							<button type="submit" ng-click="editUser()" class="btn btn-primary btn-lg">Confirm Edit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>